@font-face {
    font-family: 'titulos';
    src: url("../fonts/Recta/fonnts.com-Recta-Bold.otf");
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Light.ttf');
}

body {
    margin: 0;
    top: 0;
    bottom: 0;
}

h1 {
    font-family: 'titulos';
}

p, h3,h4,h5, input,a,button {
    font-family: 'Roboto';
}

.navBar {
    position: sticky;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.219);
    margin-bottom: 50px;
    padding: 3px;
    background-color: rgb(255, 255, 255);
}

.infoPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10vh;
}

.searchBar {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0; 
    width: 300px;
}

.searchBar > input{
    width: 100%;
    height: 32px;
    padding-right: 36px;   
    box-sizing: border-box;
    position: static;
}

.searchBar > img{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
}

.userArea {
    display: flex;
    align-content: center;
    margin-bottom: 50px;
}

.userArea img{
    width: 50%;
    height: 50%;
}

.loginCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 15%;
}

.loginCard > h1{
    margin-bottom: 0;
}

.loginCard > p{
    margin-bottom: 13%;
}

.loginCard > input {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
}

.loginCard > button {
    width: 103%;
    height: 30px;
    margin-bottom: 15px;
    background-color: #DB4444;
    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    height: 40px;
}

.loginButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 20px;
}

.getOffers {
    position: relative;
    display: inline-block;
    width: 240px;
}
.getOffers > input {
    width: 100%;
    height: 40px;
    padding: 0 48px 0 12px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    border: 2px solid #fff;
    border-radius: 5px;
}

.getOffers > button.enterEmail {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;              
    height: 36px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url('../img/arrow.png');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    cursor: pointer;
    color: transparent;
    text-shadow: none;
    overflow: hidden;
}

.infoFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}

.infoFooter > p{
    font-size: 13px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.downloadApps {
    display: flex;
    flex-direction: column;
}

.copyrigthArea {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    gap: 10px;
}






