h2 {
    background-color: rgb(255, 153, 0);
}

#listaEducacion {
    background-color: aqua;
}

#listaEducacion:hover {
    background-color: red;
}

#listaExperiencia {
    background-color: rgba(0, 4, 255, 0.466);
}

#listaExperiencia:hover {
    background-color: red;
}

#listaProyectos {
    background-color: rgba(183, 0, 255, 0.466);
}

#listaProyectos:hover {
    background-color: red;
}

#listaHabilidades {
    background-color: rgba(255, 0, 0, 0.466);
}

#listaHabilidades:hover {
    background-color: red;
}

a:hover {
    background-color: blueviolet;
}

.boxes {
    border-color: black;
    border-style: solid;
    padding: 2vh;
    margin: 2vh;
}

#bgImage{
    background-image: url("../img/education.webp");
    background-size: cover;
    background-position: center;
}
